<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rule-Engine UI</title>
        <link rel="stylesheet" href="./css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css" />

        <script src="./js/lib/jquery-1.11.3.min.js"></script>
        <script src="./js/lib/angular.min.js"></script>
        <script src="./js/lib/angular-sanitize.min.js"></script>
        <script src="./js/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>
        <script src="./js/main.js"></script> 
        <script src="./js/lib/focusit.js"></script>
    </head>
    <body ng-app="REApp">
        <script type="text/ng-template" id="dropdownList.html">
            <div class="custom-dropdown-header">{{uniqueItem}}</div>
            <ul class="dropdown-menu" role="listbox" ng-show="isOpen() && !moveInProgress" style="display: block;">
                <li ng-repeat="match in matches | fieldMatch:'category':uniqueItem track by $index"
                    ng-class="{active: isActive(indexFromId(match.id)) }"
                    ng-mouseenter="selectActive(indexFromId(match.id))" 
                    ng-click="selectMatch(indexFromId(match.id))" role="option" id="{{::match.id}}">
                        <div uib-typeahead-match index='indexFromId(match.id)' match="match" query="query"></div>
                </li>
            </ul>
            <div class="custom-dropdown-footer"></div>
        </script>
        <script type="text/ng-template" id="typeAheadTemplate.html">
            <div class="custom-dropdown-wrapper dropdown-menu"
                 ng-style="{top: position().top+'px', left: position().left+'px'}"
                 ng-show="isOpen() && !moveInProgress"
                 aria-hidden="{{!isOpen()}}">
                <div class="custom-dropdown-list" ng-repeat="uniqueItem in filtered = (matches | unique:'category') track by $index"
                    style="width:{{100/filtered.length}}%;">
                    <dropdown-list />
                </div>
            </div>
        </script>
        <div ng-controller="REAppController" 
             class="appPanel">
            <div class="container">
                <h3 class="retitle">Rule-Engine UI</h3>             
                <button class="btn btn-default" ng-click="openPP()" style="margin-bottom:20px"> Insert Rule</button>
                <ul class="rulelist">
                    <li ng-repeat="rule in ruleDefs">{{$index+1}}) Name : {{rule.name}}, Defination : {{rule.def.join(' ')}}</li>
                </ul>
                <div class="ruleCreationPP" 
                     ng-if="RCFlag">
                     <div class="ruleCreationPanel">
                         <div class="ruleContaniner">
                            <div class="createRuleHeader">
                                <span class="glyphicon glyphicon-plus" style="font-size: 24px;margin-left: 15px;"></span>
                                Create a new data import rule   
                                 <button type="button" 
                                         class="closeBtn pull-right" 
                                         aria-label="Close"
                                         ng-click="closePP()">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>
                            <div class="ruleContentPanel">
                                <div class="ruleContainer">
                                    <div class="form-wrap">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="ruleText" > Rules : &nbsp; </label>
                                                <div ng-bind-html = "completeWord.join(' ') | sanitize" id="lblCompleteWord"> </div>
                                                <input type="text"
                                                    id="ruleText"
                                                    class="form-control" 
                                                    ng-model="$parent.selected"
                                                    ng-show="ruleinarr[0]" 
                                                    class="form-control" 
                                                    typeahead="rule as rule.elementName for rule in rules | filter:$viewValue | limitTo:7"
                                                    typeahead-on-select="onSelectElement($item, $model, $label);$parent.selected=''"
                                                    ng-style="customstyle"
                                                    typeahead-min-length="0"
                                                    popover-trigger="focus"
                                                    popover-placement="right"
                                                    uib-popover="{{dynamicPopover.content}}"
                                                    typeahead-focus
                                                    popover-title="{{dynamicPopover.title}}"
                                                    ng-keyup = "customTextInput($event)" />
                                                <input type="text" 
                                                    id="ruleText" 
                                                    ng-model="$parent.selected"
                                                    ng-show="ruleinarr[1]" 
                                                    class="form-control" 
                                                    typeahead="rule as rule.value for rule in nextwords | filter:$viewValue | limitTo:7"
                                                    typeahead-min-length="0"
                                                    typeahead-on-select="onSelectNextWords($item, $model, $label);$parent.selected=''"
                                                    typeahead-popup-template-url="typeAheadTemplate.html"
                                                    ng-style="customstyle"
                                                    popover-trigger="focus"
                                                    popover-placement="right"
                                                    typeahead-focus
                                                    uib-popover="{{dynamicPopover.content}}" 
                                                    popover-title="{{dynamicPopover.title}}"
                                                    ng-keyup = "customTextInput($event)" /> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="ruleContentFooter">
                                    <div class="footerWrap">
                                        <div class="rulelable" ng-class="ruleSaveEnable || (saveOnUserValue==true && selected.length > 0) ? '':'disablelable'">Save Rule As</div>
                                        <div class="ruleinWrap">
                                            <div class="ruleinContainer">
                                                <input type="text"
                                                       focus-it="ruleSaveEnable"
                                                       ng-disabled="!(ruleSaveEnable || (saveOnUserValue && selected.length > 0))" 
                                                       ng-model="rulename"
                                                       ng-keyup="$event.keyCode == 13 && rulename.length > 0 && saveRule(rulename)"/>
                                            </div>
                                        </div>
                                        <button type="button" 
                                                class="btn ruleBtn"
                                                ng-disabled="!(ruleSaveEnable || (saveOnUserValue && selected.length > 0)) || rulename.length == 0" 
                                                ng-click="saveRule(rulename)"
                                                style="position:absolute;right:0px">
                                                Done
                                        </button>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>      
    </body>    
</html>